body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);

}



#mapsBG {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  color: coral;
}

#pageContainer {
  pointer-events: none;
  z-index: 1;
  position: relative;
  top: 20vh;
  width: 100vw;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#measurement {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 20vh;
  background: rgba(3, 142, 255, 1);
}

#appTitle {
  font-size: 10vh 80vw;
  width: auto;
  color: white;
  border: 1px solid black;
}

#measurement a {
  margin: 20px 10px;
  width: 50px;
  padding: 0px;
}

#weatherHeader {
  width: 480px;
  height: 85px;
  padding: 15px;
}

#city {
  font-size: 36px;
  width: 360px;
  float: left;
}

#icon {
  margin-left: 20px;
  float: left;
  border: 1px solid black;
}

#temp {
  font-size: 150px;
  text-align: center;
  padding: 5px 0px 20px 0px;
}

#locBtn {
  text-align: center;
  padding-bottom: 40px;
}

#credit {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20vh;
  background: rgba(3, 142, 255, 1);
}

#credit a {
  text-decoration: underline;
  color: rgb(38, 166, 154);
}

.btn {
  background-color: #ffbc03 !important;
  color: blue !important;
}

.fade {
  background-color: gray !important;

  color: white !important;
}
